
@implements IDisposable

@inject NavigationManager NavigationManager

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Movie App</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
               
        <MyNavLink Href=""Match="NavLinkMatch.All" IconClass="bi-home-icon" Text="Home"></MyNavLink>
        <MyNavLink Href="movies" IconClass="bi-movie-icon" Text="Movies"></MyNavLink>
        <MyNavLink Href="counter" IconClass="bi-counter-icon" Text="Counter"></MyNavLink>
        <MyNavLink Href="weather" IconClass="bi-list-icon" Text="Weather"></MyNavLink>
        <MyNavLink Href="auth" IconClass="bi-lock-icon" Text="Auth Required"></MyNavLink>
        <AuthorizeView>
            <Authorized>
                <MyNavLink Href="Account/Manage" IconClass="bi-person-icon" Text="@context.User.Identity?.Name"></MyNavLink>
                <div class="nav-item px-3">
                    <form action="Account/Logout" method="post">
                        <AntiforgeryToken />
                        <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                        <button type="submit" class="nav-link">
                            <span class="bi bi-arrow-icon" aria-hidden="true"></span> Logout
                        </button>
                    </form>
                </div>
            </Authorized>
            <NotAuthorized>
                <MyNavLink Href="Account/Register" IconClass="bi-register-icon" Text="Register"></MyNavLink>
                <MyNavLink Href="Account/Login" IconClass="bi-badge-icon" Text="Login"></MyNavLink>
            </NotAuthorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}

